@charset "utf-8"
$bgColor: #93cd17
$footerBgColor: #FFFFFF

body
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif
  background-color: $bgColor
  font-size: 16px
  line-height: 23px

a
  text-decoration: none

#page
  width: 940px
  padding: 0 10px
  margin: 24px auto

h1#logo
  font-size: 110px
  margin: 0

.published_at
  float: right

#site-footer
  background-color: $footerBgColor

.copyright
  float: right
  margin: 0
