<% wrap_layout :layout do %>
  <h2 class="pager-title"><%= current_page.data.title %></h2>
  <div class="box">
    <%= yield %>
  </div>
  <ul class="pager">
    <% if  current_page.data.prev_link %>
      <li>
        <%= link_to("&larr; #{ current_page.data.prev_link}", "#{ current_page.data.prev_link}.html") %>
      </li>
    <% end %>
    <% if  current_page.data.next_link %>
      <li>
        <%= link_to("#{ current_page.data.next_link} &rarr;", "#{ current_page.data.next_link}.html") %>
      </li>
    <% end %>
  </ul>
<% end %>
